<p>Dear sir/madam,</p>
<p>you have been invited to be a participant of an Organicity experiment.</p>
<p> 
OrganiCity is a platform for interaction between everyone in the city. Citizens, activists, researchers, businesses, city government – everyone in the city can contribute. Through workshops, meetups, conferences and events, and online via discussion boards and other platforms, social media and a growing set of online tools, you can get involved to highlight the ways you think smart technology can help make your city a better place to live, work and play.
</p>

<p>You can find more information about the Organicity project <a href="http://organicity.eu/">here</a>.</p>
<p>In the following you can find the experiment details.</p>
<br>
<img src="https://github.com/OrganicityEu/organicityeu.github.io/blob/master/images/organicity_logo_pink_100.png?raw=true" style="width:100px;">
<hr>
<p style="font-weight: bold;"> <%= name %> <p>
<p> <%= description %> </p>
<hr>
<br>
<p>To accept the invitation and to see the state of your pending invitations, please click the following link no yet</p>
<br>
<p>If you are not registered in Organicity, you can do it in the following by clicking <a href="https://accounts.organicity.eu/">here</a>
<br>
<br>
<p style="font-size: small;">This project has received funding from the European Union's Horizon 2020 research and innovation program under the grant agreement No. 645198</p>
<img src="http://organicity.eu/wp-content/themes/organicity/images/logo_eu.png" style="width:50px;height:37.5px;">